.content-container {
  max-width: 100%;
  height: 200px;
}

.vid-img {
  height: 200px;
  width: 200px;
  background-color: white;
  box-sizing: border-box;
  float: right;
  clear: right;
  margin: 5px;
}

.spacer {
  height: calc(100% - 120px);
  width: 0px;
  float: right;
}

.vid-info {
  margin: 1px;
}
